body {
  margin: 0%;
  height: 100vh;
  background-color: #1f1f1f1f;
  text-align: center;
}
.game-container {
  margin: 0% 39% 0% 40%;
  border: solid;
  border-radius: 10px;
  background-color: #1f1f1f1f;
  box-shadow: 5px 5px 12px #1414149f, -4px -4px 12px #1414149f;
}
.game-container1 {
  margin: 0% 29% 0% 30%;
  border: solid;
  border-radius: 10px;
  background-color: #1f1f1f1f;
  box-shadow: 5px 5px 12px #1414149f, -4px -4px 12px #1414149f;
}
.game-container2 {
  margin: 0% 19% 0% 20%;
  border: solid;
  border-radius: 10px;
  background-color: #1f1f1f1f;
  box-shadow: 5px 5px 12px #1414149f, -4px -4px 12px #1414149f;
}
#pl1 {
  text-align: center;
}
#pl2 {
  text-align: center;
}
#turn {
  text-align: center;
}
.result {
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  color: Green;
}
.gren {
  background-color: green;
}
.yell {
  background-color: orange;
}
.Nav {
  background-color: rgb(104, 121, 170);
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
}
.draw {
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  color: orange;
}
.pla {
  text-align: center;
}
.hide {
  display: none;
}
.row {
  display: flex;
  flex-direction: row;
}
.cell {
  height: 60px;
  width: 100%;
  border: solid;
  border-radius: 5px;
  margin: 1px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
